body{
    padding: 100px;
}
.submit-area{
    margin-top: 50px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
}
#transaction-area{
    display: none;
}
.status{
    margin: 0 20px;
    color: white;
    padding: 20px;
    border-radius: 10px;
}
.deposit{
    background-color: rgb(104, 48, 236);
}
.withdraw{
    background-color: rgb(223, 35, 35);
}
.balance{
    background-color: rgb(124, 207, 15);
}